RAILS_ENV=development
# Add the value of development.key here
RAILS_MASTER_KEY=xxxx
RAILS_SERVE_STATIC_FILES=true

# Database connection
PGPORT=5432
POSTGRES_HOST=skateparks-db
POSTGRES_DB=skateparks_development
POSTGRES_USER=
POSTGRES_PASSWORD=

# Add the full path of your repository here
CODEBASE_VOLUME=xxxx

REDIS_URL=redis://skateparks-redis:6379/1

PORT=3000
