RAILS_ENV=test
RAILS_MASTER_KEY=
RAILS_SERVE_STATIC_FILES=true

PGPORT=5433
POSTGRES_HOST=skateparks-db-test
POSTGRES_DB=skateparks_test
POSTGRES_USER=
POSTGRES_PASSWORD=

CODEBASE_VOLUME=

REDIS_URL=redis://skateparks-redis-test:6379/1

PORT=3003
