RAILS_ENV=production
RAILS_MASTER_KEY=e853b03985f7880944b6db32b7b6cc73

POSTGRES_HOST=skateparks-db
POSTGRES_DB=skateparks_production
POSTGRES_USER=
POSTGRES_PASSWORD=

PGHOST=skateparks-db
PGDB=skateparks_production
PGUSER=
PGPASSWORD=

PGPORT=5432