# Rails variables
RAILS_ENV=development
RAILS_MASTER_KEY=
RAILS_SERVE_STATIC_FILES=true

# Database connection
PGPORT=5432
POSTGRES_HOST=skateparks-db
POSTGRES_DB=skateparks_development
POSTGRES_USER=
POSTGRES_PASSWORD=

# Full path of repository
CODEBASE_VOLUME=/Users/dtrechas/dev/skateparks